<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <li><input type="checkbox" checked> <%= link_to task.title, task_path(task) %>
        <%= link_to 'Edit', edit_path(task) %> <%= link_to 'Delete', task_path(task), method: :delete %></li>
    <%else%>
      <li><input type="checkbox"> <%= link_to task.title, task_path(task) %>
        <%= link_to 'Edit', edit_path(task) %> <%= link_to 'Delete', task_path(task), method: :delete %></li>
      <%end%>
  <% end %>
</ul>
<%= link_to 'Add a new task', '/new' %>

